html, body, #app {
  width: 100%;
  height: 100%;
}
.layout-app {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-1);
}
.aside {
  height: 100%;
  .arco-layout-sider-trigger {
    height: 46px;
    line-height: 46px;
  }
}