html, body, #app {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-1);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  background: $--primary-color; 
  color: var(--color-white);
}

#app {
  background-color: var(--color-bg-1);
}

.#{$--prefix}-layout-app {
  width: 100%;
  height: 100%;
}
.#{$--prefix}-layout-sidebar {
  background-color: var(--color-bg-3);
}
.#{$--prefix}-flex-scroll-container {
  position: relative;
  > .scroll-body {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 10;
  }
}

#nprogress .bar {
  background: $--primary-color !important;
}

.#{$--prefix}-modal-simple {
  width: 360px;
  padding: 16px 16px 24px;
  .arco-modal-body {
    text-align: center;
    padding: 0 8px;
  }
}
.#{$--prefix}-long {
  input {
    width: 100% !important;
  }
}

.#{$--prefix}-book-list-item {
  width: 100%;
  height: 100%;
  min-height: 240px;
  background-color: var(--color-black);
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  .add-btn {
    width: 100%;
    height: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
  }
  &:hover {
    .actions {
      transform: scale(1);
      opacity: 1;
    }
  }
  h4 {
    @include reset();
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--color-text-1);
    padding: 16px 0;
    text-align: center;
  }
  .actions {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--color-mask-bg);
    display: flex;
    transition: $--transition;
    transform: scale(0);
    opacity: 0;
  }
}

.flex {
  display: flex;
  align-items: center;
  [flex=auto] {
    flex: 1
  }
}

.md-drawer {
  .arco-drawer-body {
    padding: 0;
  }
  .pkm-md-editor-main {
    padding: 0;
  }
}
