.pkm-md-editor {
  display: flex;
  flex-direction: column;
  // 滚动条样式
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
  }
  &-main {
    flex: 1;
    display: flex;
    align-items: stretch;
  }
  &-content {
    flex: 1;
  }
  &-preview {
    flex: 0 0 46%;
    border-left: $--dark-border;
    > iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  &-content, &-preview, .cm-editor {
    height: 100%;
  }
  .editor-unfold, .editor-fold {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url(./svg/arrow-down.svg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 4px 0 0;
  }
  .editor-fold {
    background-image: url(./svg/arrow-right.svg);
  }
  &-toolbar {
    display: flex;
    align-items: center;
    background: #424242;
    position: relative;
    z-index: 99;
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .c {
      flex: 1;
    }
    .toolbar {
      display: flex;
      align-items: center;
      padding: 0 8px;
      li {
        padding: 0 4px;
        &:hover {
          .toolbar-btn {
            background-color: #313132;
          }
        }
      }
      .split {
        width: 1px;
        height: 16px;
        position: relative;
        margin: 0 8px;
        padding: 0;
        &::before {
          content: " ";
          width: 1px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #565656;
        }
      }
      &-btn {
        width: 32px;
        height: 32px;
        background: none;
        border: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 260ms ease-in;
        border-radius: 4px;
        &:hover, &:focus {
          background-color: #313132;
        }
        > i {
          width: 100%;
          height: 100%;
          display: block;
          background-position: center center;
          background-size: 100% auto;
          background-repeat: no-repeat;
        }
      }
      .icon- {
        &header {
          background-image: url(./svg/header.svg);
        }
        &bold {
          background-image: url(./svg/bold.svg);
        }
        &italic {
          background-image: url(./svg/italic.svg);
        }
        &strikethrough {
          background-image: url(./svg/strikethrough.svg);
        }
        &hrline {
          background-image: url(./svg/hrline.svg);
        }
        &quote {
          background-image: url(./svg/quote.svg);
        }
        &unordered-list {
          background-image: url(./svg/unordered-list.svg);
        }
        &ordered-list {
          background-image: url(./svg/ordered-list.svg);
        }
        &task-list {
          background-image: url(./svg/task-list.svg);
        }
        &table {
          background-image: url(./svg/table.svg);
        }
        &inline-code {
          background-image: url(./svg/inline-code.svg);
        }
        &block-code {
          background-image: url(./svg/block-code.svg);
        }
        &link {
          background-image: url(./svg/link.svg);
        }
        &media {
          background-image: url(./svg/media.svg);
        }
        &preview {
          background-image: url(./svg/preview.svg);
        }
        &fullscreen {
          background-image: url(./svg/fullscreen.svg);
        }
        &exit-fullscreen {
          background-image: url(./svg/exit-fullscreen.svg);
        }
        &info {
          background-image: url(./svg/info.svg);
        }
        &save {
          background-image: url(./svg/save.svg);
        }
        &format {
          background-image: url(./svg/format.svg);
        }
      }
    }
    .toolbar-group {
      display: inline-block;
      position: relative;
      &:hover {
        .toolbar-group-list {
          display: block;
        }
      }
      &-list {
        display: none;
        position: absolute;
        margin-top: -2px;
        left: 0;
        top: 100%;
        background-color: #313132;
        padding: 4px 0;
        .item {
          white-space: nowrap;
          color: #d4d4d4;
          padding: 6px 8px;
          cursor: pointer;
          transition: all 260ms ease-in;
          &:hover {
            color: #ffffff;
            background-color: #000000;
          }
        }
      }
    }
  }
  &-dialog {
    width: 100%;
    height: 100%;
    position: relative;
    .dialog {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: -2px;
      background-color: #313132;
      padding: 8px 16px;
      color: #dddddd;
      .form-item {
        display: flex;
        align-items: center;
      }
      label {
        white-space: nowrap;
        padding-right: 16px;
      }
      .form-item {
        padding: 8px 0;
        &.pl {
          padding-left: 44px;
        }
      }
      input {
        height: 32px;
        flex: 1;
        padding: 0 8px;
        font-size: 14px;
        border-radius: var(--border-radius-small);
        border: 0;
        background-position: 8px center;
        background-repeat: no-repeat;
        color: var(--color-text-2);
        background-color: var(--color-secondary);
        cursor: pointer;
        transition: all 300ms ease;
        outline: none;
        &:hover {
          color: var(--color-text-2);
          background-color: #434343;
        }
      }
      button {
        white-space: nowrap;
        height: 32px;
        padding: 0 16px;
        font-size: 14px;
        border-radius: var(--border-radius-small);
        border: 0;
        color: var(--color-text-2);
        background-color: var(--color-secondary);
        cursor: pointer;
        transition: all 300ms ease;
        &:hover {
          color: var(--color-text-2);
          background-color: #434343;
        }
      }
      .upload-btn {
        width: 124px;
        height: 32px;
        position: relative;
        overflow: hidden;
        margin-left: 16px;
        input[type=file] {
          opacity: 0;
        }
        button {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-image: url(./svg/upload.svg);
          padding: 0 16px 0 32px;
          background-position: 8px center;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &-fullscreen {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
  }
}
